name: CI-Build

on: 
  push:
  schedule:
    - cron:  '21 21 * * *'
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Setup Java JDK
      uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: temurin

    - name: Build with Maven
      run: mvn clean verify -Dmaven.test.failure.ignore=true --batch-mode

    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        junit_files: |
          **/*/target/*-reports/*.xml

    - name: Archive build artifact
      uses: actions/upload-artifact@v6
      with:
        path: |
          **/target/*.jar

